body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow: hidden;
    user-select:none;
    display:flex;
    flex-direction: column;
}

.screen{
    flex: 1;
    width: 100%;
    perspective:1000px;
}
.top-bar {
    height: 12vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-left:5vw;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.logo {
    height: 7vh;
    float: left;
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    border-radius:50%;
    border: 1px solid black;
    float: left;
}

.logo-title{
    padding-left: 1rem;
    float:left;
    font-family:'Courier New', Courier, monospace ;
    font-size: 2em;
}

.hide{
    position: absolute;
    padding:.5em;
    width: fit-content;
    transform-style: preserve-3d;
}
.hide-button{
    padding:0.5em;
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
    border: 0;
    
    color:rgb(24, 24, 24);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    &::after{
        content:"!";
    }
}

@keyframes hover-animation{
    0%{
        transform: rotateZ(-5deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
    100%{
        transform: rotateZ(-5deg);
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: white;
    padding: 2.5em;
    border-radius: 1.5em;
    width:20em;
    text-align: center;
    perspective: 2000px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.restart-button{
    padding:0.5em;
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
    border: 0;
    
    color:rgb(24, 24, 24);
    font-family:'Courier New', Courier, monospace;
    font-size:large;

    transform-style: preserve-3d;
    transition: all .3s ease;
}
.restart-button:hover {
    
    transform: translateZ(30px);
}


.input {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    
    border: 0;
    border-radius: 1em;
    border-bottom: 1px solid lightgray;
    padding: 0.5em;
    
    font-family: 'Courier New', Courier, monospace;

    transform-style: preserve-3d;
    transition: all .3s ease;
}
.input:hover {
    transform: translateZ(30px);
}
.input-type {
    border:0;
    border-bottom: 1px solid lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
input:focus {
    outline:none;
}

.timer {
    position: fixed;
    right: 20px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.popup.show {
    display: flex;
}
